/coffe-shop/img
/coffe-shop/css

/codigo/images
/codigo/css

/corporate/images
/corporate/css

/wave/images
/wave/css

/industry/images
/industry/css/normalize.css

/professional-profile/img
/professional-profile/css/normalize.css

/radio/img

/educational/img
/educational/video
/educational/css

/take-care/css
/take-care/img

/viri/img

/darkdev/css
/darkdev/img