// Experiences section styles

.experiences,
.changelog {
  padding-bottom: 3rem;

  .row {
    .education {
      margin-bottom: 3rem;
    }

    .item {
      padding: 1rem 2.5rem 2rem 2.5rem;
      background-color: $medium-dark-bg-color;
      margin-bottom: 1.5rem;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      transition: ease-in-out 0.25s;

      &::before {
        height: 25px;
        width: 25px;
        background: #188c91;
        transform: rotate(-135deg);
        content: "";
        position: relative;
        top: 2.5rem;
        left: -3rem;
        border-radius: 50%;
        border: 7px solid $medium-dark-bg-color;
      }

      a,
      span,
      .date {
        color: $primary-color;

        &.currently {
          color: $light-text-color;
        }
      }

      a:hover {
        color: $primary-color;
      }

      .date {
        font-weight: 700;
        font-size: 0.9rem;
        width: fit-content;
        width: -moz-fit-content;
        background: $dark-bg-color;
        border-radius: 1rem;
        padding: 0.1rem 1rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
  }
}

// Media queries
@media screen and (min-width: 768px) {
  .experiences {
    padding-bottom: 6rem;

    .education {
      margin-bottom: 0;
    }
  }
}
