/* Footer styles */

footer {
  background: $secondary-color;
  color: $white-color;
  text-align: left;
  padding: 40px 0;
  font-size: 1rem;

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
}

@media only screen and (min-width: 760px) {
  footer {
    padding: 25px 0;
  }
  footer .flex {
    flex-direction: row;
    justify-content: left;
    gap: 20px;
  }
}
