/* Slider styles */

.slider-content {
  position: relative;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.slider-content .slide {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-size: cover;
  background-position: center;
  z-index: 1;
  animation: slide 2s ease;
}

.slider-content .slide.active {
  display: flex;
}

@keyframes slide {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.slider-caption {
  max-width: 1140px;
  margin: auto;
}

.slider-content .slider-caption {
  flex-grow: 1;
}

.slider-content .caption {
  width: 50%;
}

.slider-content .caption h2 {
  margin: 0;
  font-size: 42px;
  color: #fff;
}

.slider-content .slide.active .caption h2 {
  opacity: 0;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.7);
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}

.slider-content .caption p {
  margin: 15px 0 30px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.767);
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.7);
}

.slider-content .slide.active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}

.slider-content .slide.active .caption a {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.4s;
}

@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slider-content .arrow-controls .prev,
.slider-content .arrow-controls .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50px);
  height: 80px;
  width: 50px;
  color: #ffffff8a;
  background-color: #f791236b;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 45px;
}

.slider-content .arrow-controls .prev {
  left: 10px;
}

.slider-content .arrow-controls .next {
  right: 10px;
}

.slider-content .arrow-controls .prev:hover,
.slider-content .arrow-controls .prev:active,
.slider-content .arrow-controls .next:hover,
.slider-content .arrow-controls .next:active {
  background-color: #f79123bf;
}

.slider-content .position {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 2;
  transform: translateX(-50%);
  display: none;
}

.slider-content .position div {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0px 5px;
  background-color: rgba(255, 255, 255, 0.357);
  border-radius: 50%;
  color: transparent;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.slider-content .position div.active {
  color: transparent;
  background-color: #f79123bf;
}

@media (min-width: 768px) {
  .slider-content {
    height: calc(70vh - 60px);
  }

  .slider-content .position {
    display: block;
  }
}

@media (max-width: 1400px) {
  .arrow-controls {
    display: none;
  }

  .slider-content .caption {
    width: 98%;
    text-align: center;
  }
}