html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1em;
  overflow-y: scroll;
  background: #fff;
  color: #fff;
}

input:focus {
  outline: 0;
}

a:focus {
  outline: 0;
}

#main-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header,
main,
section,
article,
footer {
  width: 100%;
}

.logo-title {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  text-indent: -9999em;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.services,
.who,
.our-work,
.contacts {
  padding: 150px 0 100px;
}

h3,
h4 {
  text-transform: uppercase;
}

h3 {
  padding-bottom: 40px;
  font-size: 50px;
  font-weight: 100;
}

h4 {
  padding: 30px 0;
  font-size: 30px;
  font-weight: 100;
}

.sub-txt {
  padding-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;

  a {
    color: #fb5b63;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}

p {
  font-size: 16px;
}

.btn {
  padding: 10px 40px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 8px;
  transition: .25s ease-in-out;
}

.btn-green {
  background: #89d266;

  &:hover {
    background: #6ca74f;
  }
}

header {
  background: url(../images/intro-bg.jpg) fixed center;
  background-size: cover;
  padding: 45px 0;
  font-size: 20px;

  nav.navbar {
    ul.navbar-nav {
      li {
        a {
          color: #fff;
          opacity: .7;
          transition: .25s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .intro-txt {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 1010px;
    height: 100%;
    padding: 40px 10px;
    background: #ffffff87;
    font-size: 200px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: 100px;

    h2 {
      color: #ddf8ff;
      font-size: 50px;
    }

    .right-txt {
      h2 {
        color: #56ddff;
        font-size: 80px;
        font-weight: 800;
      }
    }
  }
}

.services {
  background: url(../images/services-bg.jpg) fixed center;
  background-size: cover;

  .services-items {
    .services-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 20px;
      border-radius: 4px;
      background: #a3343a91;
      cursor: pointer;
      transition: .25s ease-in-out;

      &:hover {
        background: #a3343ac4;
        -webkit-box-shadow: 3px 0px 55px -16px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 3px 0px 55px -16px rgba(0, 0, 0, 0.27);
        box-shadow: 3px 0px 55px -16px rgba(0, 0, 0, 0.27);
      }

      .fa {
        padding: 25px;
        background: #fff;
        color: #b63d43;
        font-size: 80px;
        border-radius: 50%;
        border: 5px solid #97292f;
      }
    }
  }
}

.who {
  background: url(../images/who-bg.jpg) fixed center;
  background-size: cover;

  .member {
    background: #604a58;
    padding: 40px 20px;
    cursor: pointer;

    &:hover {
      background: #604a58a6;
    }

    p {
      font-weight: 700;
      color: #85b264;
    }

    .fa-user-circle {
      font-size: 140px;
      border: 3px solid #848384;
      border-radius: 50%;
    }

    .social-ser .fa {
      background: #7c6274;
      color: #604a58;
      border-radius: 50%;
      margin: 10px 5px 10px;
    }

    .fa-facebook,
    .fa-twitter,
    .fa-google-plus,
    .fa-linkedin {
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    .fa-facebook {
      padding: 10px 14px;

      &:hover {
        background: #5061e1;
      }
    }

    .fa-twitter {
      padding: 10px 10px;

      &:hover {
        background: #4f8292;
      }
    }

    .fa-google-plus {
      padding: 10px 7px;

      &:hover {
        background: #ad515d;
      }
    }

    .fa-linkedin {
      padding: 10px 12px;

      &:hover {
        background: #7a84b0;
      }
    }
  }
}

.our-work {
  background: url(../images/work-bg.jpg) fixed center;
  background-size: cover;

  .porf-menu {
    padding: 13px 20px;
    margin: 30px 0 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .menu-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h5 {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      ul {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        li {
          font-size: 14px;
          font-weight: 700;

          a {
            padding: 5px 15px;
            border-radius: 5px;
            -webkit-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:hover {
              background: #edbd2db3;
            }
          }
        }
      }
    }
  }

  .porf-thumb {
    width: 100%;

    .item {
      overflow: hidden;
      border-radius: 10px;

      img {
        border-radius: 10px;
        margin-bottom: 16px;
      }
    }
  }
}

.contacts,
footer {
  background: url(../images/who-bg.jpg) fixed center;
  background-size: cover;
}

.contact-info {
  .item {
    border-radius: 10px;
    padding: 40px 20px;
    background: #0000001c;
    cursor: pointer;
    transition: ease-in-out .25s all;

    &:hover {
      -webkit-box-shadow: 3px 0px 55px -16px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 3px 0px 55px -16px rgba(0, 0, 0, 0.27);
      box-shadow: 3px 0px 55px -16px rgba(0, 0, 0, 0.27);
    }

    .info-list {
      font-size: 16px;
      padding: 0;
      margin-bottom: 0;

      i {
        font-size: 60px;
        margin-bottom: 15px;
      }
    }
  }

  .social-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    .item {
      &:hover {
        box-shadow: none;
        opacity: .5;
      }
    }
  }
}


footer {
  small {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
  }
}