// Instructors home page
.instructors {
    .icon i {
        position: absolute;
        top: 150px;
        right: -60px;
        font-size: 200px;
        color: #cccccc52;
    }

    .description {
        margin-bottom: 30px;
    }

    .instructor {
        margin: 10px 0;

        .img-wrap {
            margin-bottom: 15px;
            width: 100%;
            height: 300px;
            overflow: hidden;

            // Image control
            div {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

        }

        h3 {
            margin-bottom: 5px;

            a {
                color: $btnTextColor;
            }
        }

        p {
            text-transform: lowercase;
        }
    }

    // Image control (nth-child 1 is de description column)
    .instructor:nth-child(3) .img-wrap div {
        background-position-y: -45px;
    }

    .instructor:nth-child(4) .img-wrap div {
        background-position-x: -110px;
    }
}

// Media queries > 768 px
@media screen and (min-width: 768px) {
    .instructors {
        .description {
            margin-top: 30px;
        }

        .icon i {
            position: absolute;
            top: 130px;
            left: -50px;
            font-size: 330px;
            color: #cccccc52;
        }
    }
}

// Media queries > 992 px
@media screen and (min-width: 992px) {
    .instructors .instructor:nth-child(4) .img-wrap div {
        background-position-x: 0;
    }
}

// Media queries > 1200 px
@media screen and (min-width: 1200px) {
    .instructors {
        .instructor:nth-child(3) .img-wrap div {
            background-position-y: -30px;
        }

        .instructor:nth-child(4) .img-wrap div {
            background-position: -160px -3px;
        }
    }
}

// Instructors instructors page

body.instructors {
    section.instructors {
        background: #fff;
    }

    h2 {
        font-size: $font-30;
        margin-bottom: 50px;
    }

    h3 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    span {
        font-size: 16px;
        margin-bottom: 40px;
        display: inline-block;
        color: $colorPrimary;
    }

    .pagination {
        margin: 20px 0 60px;
        text-align: center;

        ul li {
            display: inline-block;

            a {
                color: $btnTextColor;
                padding: 10px;

                &.active {
                    border-bottom: 2px solid $colorPrimary;
                }

                .arrow:hover {
                    color: $colorPrimary;
                }
            }
        }
    }

    .aside-content {

        h3,
        h4 {
            margin-bottom: 20px;
        }

        h3 {
            font-size: $font-22;
        }
    }
}

// General instructors images control
body.instructors .instructors .instructors-grid .img-wrap {
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
}

// Individual instructors images control
// Page 1
body.instructors .instructors .instructors-grid div:nth-child(1) .img-wrap {
    background: url(../img/instructor-1.jpg);
    background-position: -70px;
    background-size: cover;
    background-repeat: no-repeat;
}

body.instructors .instructors .instructors-grid div:nth-child(2) .img-wrap {
    background: url(../img/instructor-2.jpg);
    background-position: 0px -15px;
    background-size: cover;
    background-repeat: no-repeat;
}

body.instructors .instructors .instructors-grid div:nth-child(3) .img-wrap {
    background: url(../img/instructor-3.jpg);
    background-position: -100px;
    background-size: cover;
    background-repeat: no-repeat;
}

body.instructors .instructors .instructors-grid div:nth-child(4) .img-wrap {
    background: url(../img/instructor-4.jpg);
    background-position: -90px;
    background-size: cover;
    background-repeat: no-repeat;
}

body.instructors .instructors .instructors-grid div:nth-child(5) .img-wrap {
    background: url(../img/instructor-5.jpg);
    background-position: -40px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

body.instructors .instructors .instructors-grid div:nth-child(6) .img-wrap {
    background: url(../img/instructor-6.jpg);
    background-position: -30px;
    background-size: cover;
    background-repeat: no-repeat;
}

// Page 2
body.instructors.page-2 .instructors .instructors-grid div:nth-child(1) .img-wrap {
    background: url(../img/instructor-7.jpg);
    background-position: -50px;
    background-size: cover;
    background-repeat: no-repeat;
}

body.instructors.page-2 .instructors .instructors-grid div:nth-child(2) .img-wrap {
    background: url(../img/instructor-8.jpg);
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

body.instructors.page-2 .instructors .instructors-grid div:nth-child(3) .img-wrap {
    background: url(../img/instructor-9.jpg);
    background-position: -30px;
    background-size: cover;
    background-repeat: no-repeat;
}

body.instructors.page-2 .instructors .instructors-grid div:nth-child(4) .img-wrap {
    background: url(../img/instructor-10.jpg);
    background-position: -70px;
    background-size: cover;
    background-repeat: no-repeat;
}

// Media queries > 768 px
@media screen and (min-width: 768px) {
    body.instructors {
        .title h2 {
            font-size: $font-38;
        }

        h3 {
            font-size: $font-22;
        }

        .aside-content {
            h4 {
                font-size: $font-22;
            }

            h3 {
                font-size: $font-30;
            }

        }

        // Page 1
        .instructors .instructors-grid div:nth-child(1) .img-wrap {
            background-position: -40px;
        }

        .instructors .instructors-grid div:nth-child(3) .img-wrap {
            background-position: -58px;
        }

        .instructors .instructors-grid div:nth-child(4) .img-wrap {
            background-position: -40px;
        }

        .instructors .instructors-grid div:nth-child(5) .img-wrap {
            background-position: 0;
        }
    }

    // Page 2
    body.instructors.page-2 .instructors .instructors-grid div:nth-child(3) .img-wrap {
        background-position: 0;
    }

    body.instructors.page-2 .instructors .instructors-grid div:nth-child(4) .img-wrap {
        background-position: -10px;
    }

}

// Media queries > 992 px
@media screen and (min-width: 992px) {
    // Page 1
    body.instructors {

        .instructors .instructors-grid div:nth-child(1) .img-wrap {
            background-position: 0;
        }

        .instructors .instructors-grid div:nth-child(2) .img-wrap {
            background-position: 0px -40px;
        }

        .instructors .instructors-grid div:nth-child(3) .img-wrap {
            background-position: 0px 0px;
        }

        .instructors .instructors-grid div:nth-child(4) .img-wrap {
            background-position: 0px;
        }

        .instructors .instructors-grid div:nth-child(6) .img-wrap {
            background-position: 0;
        }
    }

    // Page 2
    body.instructors.page-2 .instructors .instructors-grid div:nth-child(1) .img-wrap {
        background-position: 0px;
    }

    body.instructors.page-2 .instructors .instructors-grid div:nth-child(4) .img-wrap {
        background-position: 0;
    }

}


// Media queries > 1200 px
@media screen and (min-width: 1200px) {

    // Page 1
    body.instructors .instructors .instructors-grid .img-wrap {
        height: 340px;
    }

    body.instructors .instructors .instructors-grid div:nth-child(1) .img-wrap {
        background-position: -110px 0px;
    }

    body.instructors .instructors .instructors-grid div:nth-child(2) .img-wrap {
        background-position: 0px -2px;
    }

    body.instructors .instructors .instructors-grid div:nth-child(3) .img-wrap {
        background-position: -190px 0px;
    }

    body.instructors .instructors .instructors-grid div:nth-child(4) .img-wrap {
        background-position: -200px;
    }

    body.instructors .instructors .instructors-grid div:nth-child(5) .img-wrap {
        background-position: -110px;
    }

    body.instructors .instructors .instructors-grid div:nth-child(6) .img-wrap {
        background-position: -70px;
    }

    // Page 2
    body.instructors.page-2 .instructors .instructors-grid div:nth-child(1) .img-wrap {
        background-position: -100px;
    }

    body.instructors.page-2 .instructors .instructors-grid div:nth-child(3) .img-wrap {
        background-position: -50px;
    }

    body.instructors.page-2 .instructors .instructors-grid div:nth-child(4) .img-wrap {
        background-position: -170px;
    }
}

// Instructor profile
.instructor-profile {

    .title {

        margin-bottom: 50px;

        h2 {
            font-size: $font-30;
        }

        h4 {
            font-size: $font-18;
        }
    }

    .profile-content {
        h3 {
            font-size: $font-30;
            font-weight: $weight-400;
        }

        .img-wrap {
            width: 100%;
            height: 300px;
            background: url(../img/instructor-8.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px -130px;
            margin-bottom: 20px;
        }

        .contact-info {
            i {
                font-size: $font-22;
                padding: 10px 10px 10px 0;
                color: $colorPrimary;
            }

            h4 {
                font-size: $font-18;
            }

            p {
                font-size: $font-16;
            }

            ul.social {
                li {
                    display: inline-block;

                    a {
                        background: $colorPrimary;
                        color: #fff;
                        padding: 11px;
                        width: 40px;
                        height: 40px;
                        border-radius: 2px;
                        transition: ease-in-out .2s;

                        &:hover {
                            background: lighten($color: $colorPrimary, $amount: 10);
                        }

                        i {
                            padding: 0;
                            margin: 0;
                            font-size: $font-18;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

// Media queries > 768 px
@media screen and (min-width: 768px) {
    .instructor-profile {
        .title {

            h2 {
                font-size: $font-38;
            }

            h4 {
                font-size: $font-22;
            }
        }

        .profile-content .img-wrap {
            background-position: 0px -10px;
            margin-bottom: 0;
        }

        .social {
            margin: 20px 0 0;
        }
    }
}

// Media queries > 992 px
@media screen and (min-width: 992px) {
    .instructor-profile {
        .profile-content .img-wrap {
            background-position: -43px 0px;
            height: 500px;
        }
    }
}

// Media queries > 1200 px
@media screen and (min-width: 1200px) {
    .instructor-profile {
        .instructor-profile .profile-content .img-wrap {
            background-position: 0px 0px;
            height: 500px;
        }
    }
}