// Transitions
@mixin transition($prop, $sec) {
    -webkit-transition: $prop, $sec;
    -moz-transition: $prop, $sec;
    -ms-transition: $prop, $sec;
    -o-transition: $prop, $sec;
    transition: $prop, $sec;
}

@mixin transitionSecs($sec) {
    -webkit-transition: $sec;
    -moz-transition: $sec;
    -ms-transition: $sec;
    -o-transition: $sec;
    transition: $sec;
}

// Border radius
@mixin border-radius($border) {
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    -ms-border-radius: $border;
    -o-border-radius: $border;
    border-radius: $border;
}

// Transform Scale
@mixin transform-scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

// Transform TranslateY
@mixin transform-translateY($translate) {
    -webkit-transform: translateY($translate);
    -moz-transform: translateY($translate);
    -ms-transform: translateY($translate);
    -o-transform: translateY($translate);
    transform: translateY($translate);
}

// Filters
@mixin filters($filter, $perc) {
    -webkit-filter: $filter($perc);
    -moz-filter: $filter($perc);
    -ms-filter: $filter($perc);
    -o-filter: $filter($perc);
    filter: $filter($perc);
}

// Background size
@mixin bgSize($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -ms-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

// Background repeat
@mixin bgRepeat($repeat) {
    -webkit-background-repeat: $repeat;
    -moz-background-repeat: $repeat;
    -ms-background-repeat: $repeat;
    -o-background-repeat: $repeat;
    background-repeat: $repeat;
}

// Background position
@mixin bgPosition($positionX, $positionY) {
    -webkit-background-position: $positionX, $positionY;
    -moz-background-position: $positionX, $positionY;
    -ms-background-position: $positionX, $positionY;
    -o-background-position: $positionX, $positionY;
    background-position: $positionX, $positionY;
}

// Box shadow
@mixin boxShadow($X, $Y, $blur, $color) {
    -webkit-box-shadow: $X, $Y, $blur, $color;
    -moz-box-shadow: $X, $Y, $blur, $color;
    -ms-box-shadow: $X, $Y, $blur, $color;
    -o-box-shadow: $X, $Y, $blur, $color;
    box-shadow: $X, $Y, $blur, $color;
}