// Font family
$primaryFont: 'Nunito Sans', sans-serif;

// Colors
$colorPrimary: #21bda1;
$colorSecondary: #54595F;
$colorText: #7A7A7A;
$spanColor: #21bda1;
$btnBorderColor: #21bda1;
$formBtnBg: #f2f2f2;
$formBorderColor: #ccc;
$formInputBg: #fdfdfd;

$bgColor: #fff;
$bgColor2: #f8f8f8;
$menuColor: #111111;
$btnTextColor: #222222;

// Font sizes
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-btn: 16px;
$font-text: 18px;
$font-22: 22px;
$font-30: 30px;
$font-38: 38px;
$font-48: 48px;

// Font weights
$weight-300: 300;
$weight-400: 400;
$weight-700: 700;
